<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.root.kotlin_eyepetizer">

    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <!--设置 SplashActivity 为第一个 Activity -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <!--android:theme="@style/AppTheme.NoActionBar.FullScreen">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--设置 MainActivity 为首页活动部分 -->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <!--测试专用-->

        <!--<activity-->
        <!--android:name=".test.TestActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--&lt;!&ndash;android:theme="@style/AppTheme.NoActionBar.FullScreen">&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".test.TestKotlinActivity" />-->

        <!--关于-->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!--我的主页-->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.ProfileHomePageActivity"
            android:screenOrientation="portrait" />

        <!--观看记录-->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.WatchHistoryActivity"
            android:screenOrientation="portrait" />

        <!--视频详情页面-->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.VideoDetailActivity"
            android:screenOrientation="portrait" />

        <!--具体到每一个分类的列表活动-->
        <activity
            android:name="com.example.root.kotlin_eyepetizer.ui.activity.CategoryListActivity"
            android:screenOrientation="portrait" />

        <!--搜索-->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />

        <!--更多功能-->
        <activity
            android:name=".ui.activity.more_activity.MoreFunctionActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>